body {
    margin: 0;
    padding: 0;
}
.container {

}

header {
    background: lightcoral;
    
}

main{
    background: white;
}

aside {
    background: grey;
}

footer{
    background: darkgray;
}